#textdomain wesnoth-castle_of_madness      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-castle_of_madness Часть wesnoth- обязательна

[unit_type]
    id="merc_worker"
    name= _ "Woker"
    race=human
    image=
    hitpoints=34
    movement=5
    experience=44
    level=2
    advances_to=merc_foreman
    alignment=neutral
    cost=16
    usage=fighter
    description= _ "Write me, sempai"
    die_sound={SOUND_LIST:HUMAN_DIE}
    num_traits=1
    [movement_costs]
        {HUMAN_MOVECOSTS}
    [/movement_costs]
    [defense]
        {HUMAN_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
    [attack]
        name="sword"
        description= _ "sword"
        range=melee
        type=blade
        damage=7
        number=3
    [/attack]
[/unit_type]
