#textdomain wesnoth-castle_of_madness      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-castle_of_madness Часть wesnoth- обязательна

[unit_type]
    id="merc_extraordinarysvalker"
    name= _ "Extraordinary svalker"
    race=human
    ignore_race_traits=yes
    image=
    {TRAIT_SHADOWCRYSTAL}
    {TRAIT_BLUECRYSTAL}
    {TRAIT_GREENCRYSTAL}
    {TRAIT_DULLCRYSTAL}
    {TRAIT_FLIGHTCRYSTAL}
    hitpoints=82
    movement=5
    experience=220
    level=4
    advances_to=null
    {AMLA_DEFAULT}
    alignment=neutral
    cost=49
    usage=fighter
    description= _ "The mysterious leaders of Svalker group, those extraordinary persons are rumoured to have artifacts of immmense power, greatly prolonging their life, protecting them from any hazzards and even giving them power over people."
    die_sound={SOUND_LIST:HUMAN_DIE}
    num_traits=1
    [movement_costs]
        {HUMAN_MOVECOSTS}
    [/movement_costs]
    [defense]
        {HUMAN_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
    [attack]
        name="sword"
        description= _ "sword"
        range=melee
        type=blade
        damage=14
        number=3
    [/attack]
    [attack]
        name="pistole"
        description= _ "pistole"
        range=ranged
        type=pierce
        damage=22
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=pistole
        [/filter_attack]
        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 2 1}
            direction=s
            hits=yes
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 4 7}
            direction=s
            hits=no
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH -1 16}
            direction=ne,nw
            hits=yes
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 8 -1}
            direction=ne,nw
            hits=no
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH -10 19}
            direction=n
            hits=yes
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS -9 -4}
            direction=n
            hits=no
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH -3 7}
            direction=se,sw
            hits=yes
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 11 8}
            direction=se,sw
            hits=no
        [/else]
        {SOUND:HIT_AND_MISS thunderstick.ogg thunderstick-miss.ogg -250}
    [/attack_anim]
[/unit_type]
