#textdomain wesnoth-castle_of_madness

[unit_type]
    id="mage_death"
    name= _ "Black mage"
    race=human
    image="units/humans_main/mage_death.png

    hitpoints=200           ##колво здоровья
    movement_type=smallfoot
    movement=5             ##сколько шагов может сделать
    experience=150          ##количество опыта, нужного для повышения уровня
    level=4                ##уровень
    advances_to=null           ##в кого превращается на след ур Писать имя через запятую без пробела
    {AMLA_DEFAULT}
    alignment=neutral      ##мировозрение
    cost=92                ##цена
    usage=mixed fighter          ##вид лучник боец тд
    description= _ "fish"+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:DWARF_DIE}
    num_traits=2          ##колво возможных trait
    ignore_race_traits=no
    [attack]
        name="staff"
        description= _ "staff"
        range=melee       ##тип атаки ближний дальник иной
        type=impact       ##колущий режущий тд
        damage=8          ##колво урона за один удар
        number=4          ##колво ударов
    [/attack]
    [attack]
        name="staff"
        description= _ "staff"
        range=melee       ##тип атаки ближний дальник иной
        type=arcane       ##колущий режущий тд
        damage=10          ##колво урона за один удар
        number=3          ##колво ударов
    [/attack]
    [attack]
        name="destruction wave"
        description= _ "destruction wave"
        range=ranged       ##тип атаки ближний дальник иной
        type=impact       ##колущий режущий тд
        damage=17          ##колво урона за один удар
        number=3          ##колво ударов
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name="lightning"
        description= _ "energy wave"
        range=ranged       ##тип атаки ближний дальник иной
        type=arcane       ##колущий режущий тд
        damage=12          ##колво урона за один удар
        number=4          ##колво ударов
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name="firewave"
        description= _ "firewave"
        range=ranged       ##тип атаки ближний дальник иной
        type=fire       ##колущий режущий тд
        damage=9          ##колво урона за один удар
        number=5          ##колво ударов
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=lightning
        [/filter_attack]
        offset=0
        {MAGIC_MISSILE 11 -20}
        {MAGIC_MISSILE_STAFF_FLARE -750 600 11 -20}
        start_time=-800
        # wmlscope: start ignoring
        {SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -350}
        # wmlscope: stop ignoring
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=firewave
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL_XY 11 -20}
        start_time=-575
        [frame]
            sound=fire.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name="destruction wave"
        [/filter_attack]
        {MISSILE_FRAME_SHADOW_WAVE}
        start_time=-675
        [if]
            {MISSILE_FRAME_DG_SECOND_MUZZLE_FLARE_HIT_SOUTH 0 -4}
            direction=s
            hits=yes
            [halo_frame]
                halo=halo/undead/black-magic-[1~5].png:[75*4,50]
                halo="halo/dragonguard/dg-muzzle-flash-s-[1~17].png:[80*3,90,100,120*3,100*9]"
                auto_vflip=false
            [/halo_frame]
        [/if]
        [else]
            {MISSILE_FRAME_DG_SECOND_MUZZLE_FLARE_HIT_DIAG_NORTH -8 10}
            direction=ne,nw
            hits=yes
            [halo_frame]
                halo=halo/undead/black-magic-[1~5].png:[75*4,50]
                halo="halo/dragonguard/dg-muzzle-flash-ne-[1~17].png:[80*3,90,100,120*3,100*9]"
                auto_vflip=false
            [/halo_frame]
        [/else]
        [else]
            {MISSILE_FRAME_DG_SECOND_MUZZLE_FLARE_HIT_NORTH -1 16}
            direction=n
            hits=yes
            [halo_frame]
                halo=halo/undead/black-magic-[1~5].png:[75*4,50]
                halo="halo/dragonguard/dg-muzzle-flash-n-[1~17].png:[80*3,90,100,120*3,100*9]"
                auto_vflip=false
            [/halo_frame]
        [/else]
        [else]
            {MISSILE_FRAME_DG_SECOND_MUZZLE_FLARE_HIT_DIAG_SOUTH 0 8}
            direction=se,sw
            hits=yes
            [halo_frame]
                halo=halo/undead/black-magic-[1~5].png:[75*4,50]
                halo="halo/dragonguard/dg-muzzle-flash-se-[1~17].png:[80*3,90,100,120*3,100*9]"
                auto_vflip=false
            [/halo_frame]
        [/else]
        {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -50}
        {SOUND:HIT_AND_MISS dragonstick.ogg thunderstick-miss.ogg -250}
    [/attack_anim]
[/unit_type]
