#textdomain wesnoth-chegobnk_say_sorry      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-chegobnk_say_sorry Часть wesnoth- обязательна

[unit_type]
    id=main_masterfulillusionist
    name= _ "Masterful illusionist"
    race=human
    image=
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=58
    movement=5
    experience=180
    level=3
    alignment=lawful
    advances_to=main_illusionmaster
    cost=47
    usage=mixed fighter
    description="fish"+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [movement_costs]
      {HUMAN_MOVECOSTS}
    [/movement_costs]
    [defense]
      {HUMAN_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
        blade=80
        pierce=80
        impact=100
        fire=80
        cold=80
        arcane=60
    [/resistance]
    [attack]
        name=sword
        description= _ "sword"
        type=blade
        range=melee
        damage=11
        number=3
    [/attack]
    [attack]
        name=illusion
        description= _ "illusion"
        type=arcane
        range=ranged
        damage=4
        number=4
        [special]
            {WEAPON_SPECIAL_SLOW}
        [/special] 
    [/attack]
    [attack]
        name=battleillusion
        description= _ "battle illusion"
        type=arcane
        range=ranged
        damage=7
        number=4
    [/attack]
[/unit_type]
