#textdomain wesnoth-castle_of_madness      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-castle_of_madness Часть wesnoth- обязательна

[unit_type]
    id=main_illusionist
    name= _ "Illusionist"
    race=human
    image=

    hitpoints=48
    movement=5
    experience=108
    level=2
    alignment=lawful
    advances_to=main_masterfulillusionist
    cost=35
    usage=mixed fighter
    description="fish"+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [movement_costs]
      {HUMAN_MOVECOSTS}
    [/movement_costs]
    [defense]
      {HUMAN_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
        blade=90
        pierce=90
        impact=100
        fire=90
        cold=90
        arcane=70
    [/resistance]
    [attack]
        name=sword
        description= _ "sword"
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=illusion
        description= _ "illusion"
        type=arcane
        range=ranged
        damage=4
        number=3
        [special]
            {WEAPON_SPECIAL_SLOW}
        [/special] 
    [/attack]
    [attack]
        name=battleillusion
        description= _ "battle illusion"
        type=arcane
        range=ranged
        damage=7
        number=3
    [/attack]
[/unit_type]
