#textdomain wesnoth-chegobnk_say_sorry      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-chegobnk_say_sorry Часть wesnoth- обязательна

[unit_type]
    id=main_swordspecialist
    name= _ "Sword specialist"
    race=human
    race=human
    image="units/human-loyalists/swordsman.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=76
    movement=5
    experience=44
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=150
    usage=fighter
    description=
    die_sound={SOUND_LIST:HUMAN_DIE}
    [movement_costs]
      {HUMAN_MOVECOSTS}
    [/movement_costs]
    [defense]
      {HUMAN_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
        blade=70
        pierce=70
        impact=90
        fire=100
        cold=100
        arcane=80
    [/resistance]
    [attack]
        name=sword
        description= _ "sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=12
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/human-loyalists/swordsman.png:25"
        [/frame]
        [frame]
            image="units/human-loyalists/swordsman-attack-[1~3].png:[100,150,125]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]
[/unit_type]
