#textdomain wesnoth-chegobnk_say_sorry      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-chegobnk_say_sorry Часть wesnoth- обязательна

[unit_type]
    id=main_mortum
    name= _ "Mortum"
    race=mechanical
    image=
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=56
    movement=7
    experience=150
    level=3
    alignment=lawful
    advances_to="main_caenum_platearum"
    cost=41
    usage=fighter
    description=
    die_sound={SOUND_LIST:HUMAN_DIE}
    [movement_costs]
      {HUMAN_MOVECOSTS}
    [/movement_costs]
    [defense]
      {HUMAN_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
        blade=80
        pierce=70
        impact=90
        fire=100
        cold=100
        arcane=100
    [/resistance]
    [attack]
        name=sword
        description= _ "sword"
        type=blade
        range=melee
        damage=9
        number=4
    [/attack]
    [attack]
        name=crossbow
        description= _ "crossbow"
        type=pierce
        range=ranged
        damage=13
        number=3
    [/attack]
[/unit_type]
