#textdomain wesnoth-castle_of_madness      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-castle_of_madness Часть wesnoth- обязательна

[unit_type]
    id=main_homunculus
    name= _ "Homunculus"
    race=mechanical
    image=
    hitpoints=32
    movement=6
    experience=40
    level=1
    alignment=neutral
    advances_to="main_ignis,main_exitium,main_bovem"
    cost=18
    usage=mixed fighter
    description=_
    die_sound={SOUND_LIST:HUMAN_DIE}
    [movement_costs]
        {HUMAN_MOVECOSTS}
    [/movement_costs]
    [defense]
        {HUMAN_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
        blade=80
        pierce=70
        impact=90
        fire=100
        cold=100
        arcane=100
    [/resistance]
    [attack]
        name=sword
        description= _ "sword"
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=crossbow
        description= _ "crossbow"
        type=pierce
        range=ranged
        damage=6
        number=2
    [/attack]
[/unit_type]
