#textdomain wesnoth-castle_of_madness

[unit_type]
	id=barb_desertbarrtule
	name=_"Desert Barrtule"
	race=barrtules
	image=units/barbarians/barbarian_placeholder.png

	hitpoints=48
   	movement=6
   	experience=60
    	level=2
    	advances_to=barb_ancientbarrtule 
    	alignment=chaotic
    	cost=29
    	usage=fighter
    	description=_"Do a barrel roll!"
    	num_traits=1
    	ignore_race_traits=no
  	[movement_costs]
   	   {BARRTULE_MOVECOSTS}
  	[/movement_costs]
    	[defense]
      	   {BARRTULE_STANDARD_GROUNDDEF}
    	[/defense]
    	[resistance]
      		blade=60
      		pierce=60
      		impact=60
      		fire=40
      		cold=70
      		arcane=60
    	[/resistance]
    	[attack]
        	name=bite
       		description= _ "Bite"
        	range=melee
        	type=blade 
        	damage=6
        	number=3
    	[/attack]
    	[attack]
        	name=stomp
       		description= _ "Stomp"
        	range=melee
        	type=impact 
        	damage=12
        	number=1
    	[/attack]
[/unit_type]