#textdomain wesnoth-castle_of_madness

[unit_type]
    id="merdahs_bouncer"
    name= _ "Bouncer"
    race=merdahs
    image=data/add-ons/castle_of_madness/images/units/merdahs/merdah_bouncer.png
    hitpoints=52           ##колво здоровья
    movement=5             ##сколько шагов может сделать
    experience=90          ##количество опыта, нужного для повышения уровня
    level=2                ##уровень
    advances_to=merdahs_protector           ##в кого превращается на след ур Писать имя через запятую без пробела
    alignment=chaotic      ##мировозрение
    cost=19               ##цена
    usage=fighter          ##вид лучник боец тд
    description=_ "Those of more strict merdahs, called bouncers, are often employed to keep taverns civil, especially when humans or some of the more unruly merdah folk get too rowdy. Equipped in leather armor and with solid knowledge in brawling and barfights, those bouncers ensure relative peace in taverns."
    die_sound={SOUND_LIST:DWARF_DIE}
    num_traits=2          ##колво возможных trait
    ignore_race_traits=no
    [movement_costs]
        {MERDAHS_MOVECOSTS}
		forest=1
		hills=1
    [/movement_costs]
    [defense]
        {MERDAHS_STANDARD_GROUNDDEF}
    [/defense]
    [defense]
		forest=40
		hills=40
	[/defense]
    [resistance]
        blade=100
        pierce=100
        impact=90
        fire=80
        cold=70
        arcane=80
    [/resistance]
    [attack]
        name=club
        description= _ "club"
        range=melee       ##тип атаки ближний дальник иной
        type=impact       ##колущий режущий тд
        damage=8          ##колво урона за один удар
        number=4          ##колво ударов
    [/attack]
[/unit_type]
