#textdomain wesnoth-castle_of_madness      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-castle_of_madness Часть wesnoth- обязательна

[unit_type]
    id="toadlings_awesometoadotoad"        
    name= _ "Awesome toadotoad"   
    race=toadlings
    {TRAIT_DEXTROUS}
	image=data/add-ons/castle_of_madness/images/units/toadlings/maket_toadlings_awesometoadotoad.png

    hitpoints=88                   
    movement=6             
    experience=150
	{AMLA_DEFAULT}
    level=3                
    advances_to=null           
    alignment=neutral      
    cost=51                
    usage=fighter          
    description=
    die_sound=
    num_traits=2          
    ignore_race_traits=no
    [movement_costs] 
      {BIGTOAD_MOVECOSTS}
    [/movement_costs]
    [defense] 
      {BIGTOAD_STANDARD_GROUNDDEF}
    [/defense]
	[resistance]
      blade=100
      pierce=100
      impact=100
      fire=100
      cold=100
      arcane=80
    [/resistance]
	[attack]
        name="pike"        
        description= _ "pike"
        range=melee       
        type=pierce      
        damage=21        
        number=2          
    [/attack]
	[attack]
        name="stones"        
        description= _ "stones"
        range=ranged       
        type=impact       
        damage=8        
        number=3          
    [/attack]
[/unit_type]