#textdomain wesnoth-chegobnk_say_sorry      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-chegobnk_say_sorry Часть wesnoth- обязательна

[unit_type]
    id="toadlings_swamphero"        
    name= _ "Swamp hero"   
    race=toadlings
    image=data/add-ons/chegobnk_say_sorry/images/units/toadlings/maket_toadlings_swamphero.png
    {TRAIT_DEXTROUS}
	{MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=61                   
    movement=5             
    experience=150
    {AMLA_DEFAULT}	
    level=3                
    advances_to=null           
    alignment=neutral      
    cost=41                
    usage=fighter          
    description=
    die_sound=
    num_traits=2          
    ignore_race_traits=no
    [movement_costs] 
	  {TOADLING_MOVECOSTS}
	[/movement_costs]
	[defense] 
	  {TOADLING_STANDARD_GROUNDDEF}
	[/defense]
	[resistance]
      blade=100
      pierce=100
      impact=100
      fire=100
      cold=100
      arcane=80
    [/resistance]
	[attack]
        name="sword"        
        description= _ "sword"
        range=melee     
        type=blade       
        damage=11         
        number=4          
    [/attack]
[/unit_type]