#textdomain wesnoth-castle_of_madness      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-castle_of_madness Часть wesnoth- обязательна

[unit_type]
    id="toadlings_toadotoad"
    name= _ "Toadotoad"
    race=toadlings
    {TRAIT_DEXTROUS}
	image=data/add-ons/castle_of_madness/images/units/toadlings/maket_toadlings_toadotoad.png
    hitpoints=41
    movement=6
    experience=40
    level=1
    advances_to="toadlings_greatertoadotoad"
    alignment=neutral
    cost=16
    usage=fighter
    description=
    die_sound=
    num_traits=2
    ignore_race_traits=no
    [abilities]
        {ABILITY_INSPIRE}
    [/abilities]
    [movement_costs]
      {BIGTOAD_MOVECOSTS}
    [/movement_costs]
    [defense]
      {BIGTOAD_STANDARD_GROUNDDEF}
    [/defense]
	[resistance]
      blade=100
      pierce=100
      impact=100
      fire=100
      cold=100
      arcane=80
    [/resistance]
	[attack]
        name="pike"
        description= _ "pike"
        range=melee
        type=pierce
        damage=10
        number=2
    [/attack]
	[attack]
        name="stones"
        description= _ "stones"
        range=ranged
        type=impact
        damage=4
        number=3
    [/attack]
[/unit_type]