#textdomain wesnoth-castle_of_madness      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-castle_of_madness Часть wesnoth- обязательна

[unit_type]
    id="toadlings_majormudomancer"
    name= _ "Major Mudomancer"
    race=toadlings
    {TRAIT_DEXTROUS}
    image=data/add-ons/castle_of_madness/images/units/toadlings/toadlings_majormudomancer.png

    hitpoints=62
    movement=5
    experience=150
    {AMLA_DEFAULT}
    level=3
    advances_to=null
    alignment=neutral
    cost=46
    usage=archer
    description=_ "fish"+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}
    die_sound=
    num_traits=2
    ignore_race_traits=no
    [movement_costs]
        {TOADLING_MOVECOSTS}
    [/movement_costs]
    [defense]
        {TOADLING_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
    [attack]
        name="staff"
        description= _ "staff"
        range=melee
        type=impact
        damage=9
        number=2
    [/attack]
    [attack]
        name="mudoball"
        description= _ "mudoball"
        range=ranged
        type=impact
        damage=11
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
[/unit_type]
