#textdomain wesnoth-chegobnk_say_sorry      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-chegobnk_say_sorry Часть wesnoth- обязательна

[unit_type]
    id="toadlings_greatertoadotoad"        
    name= _ "Greater toadotoad"   
    race=toadlings
    {TRAIT_DEXTROUS}
	image=data/add-ons/chegobnk_say_sorry/images/units/toadlings/maket_toadlings_greatertoadotoad.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=61                  
    movement=6             
    experience=90          
    level=2                
    advances_to="toadlings_awesometoadotoad"           
    alignment=neutral      
    cost=35                
    usage=fighter          
    description=
    die_sound=
    num_traits=2          
    ignore_race_traits=no
   [movement_costs] 
      {BIGTOAD_MOVECOSTS}
    [/movement_costs]
    [defense] 
      {BIGTOAD_STANDARD_GROUNDDEF}
    [/defense]
	[resistance]
      blade=100
      pierce=100
      impact=100
      fire=100
      cold=100
      arcane=80
    [/resistance]
	[attack]
        name="pike"        
        description= _ "pike"
        range=melee       
        type=pierce      
        damage=15        
        number=2          
    [/attack]
	[attack]
        name="stones"        
        description= _ "stones"
        range=ranged       
        type=impact       
        damage=6        
        number=3          
    [/attack]
[/unit_type]