#textdomain wesnoth-castle_of_madness      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-castle_of_madness Часть wesnoth- обязательна

[unit_type]
    id="toadlings_toadogre"
    name= _ "Toadogre"
    race=toadlings
    {TRAIT_DEXTROUS}
    image=data/add-ons/castle_of_madness/images/units/toadlings/toadlings_toadogre.png
    hitpoints=67
    movement=5
    experience=90
    level=2
    advances_to="toadlings_bigtoadogre"
    alignment=neutral
    cost=27
    usage=fighter
    description=_ "Some toadotoads evolve in truly strange pairs - the bigger toad learns, how to walk and smash stuff with clubs. It starts to call itself an ogre, which cleverly marks how much their brain evolved. The smaller one constantly produces a variety of weird sounds to inspire their allies. At least, they hope it's inspiring. They really do hope. They also wear hats, because hats are cool. Just like their songs, they think."+{SPECIAL_NOTES}+{SPECIAL_NOTES_INSPIRE}
    die_sound=
    num_traits=2
    ignore_race_traits=no
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [movement_costs]
        {BIGTOAD_MOVECOSTS}
    [/movement_costs]
    [defense]
        {BIGTOAD_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
    [attack]
        name="club"
        description= _ "club"
        range=melee
        type=impact
        damage=15
        number=2
    [/attack]
[/unit_type]
