#textdomain wesnoth-castle_of_madness      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-castle_of_madness Часть wesnoth- обязательна

[unit_type]
    id="toadlings_minormudomancer"
    name= _ "Minor Mudomancer"
    race=toadlings
    {TRAIT_DEXTROUS}
    image=data/add-ons/castle_of_madness/images/units/toadlings/toadlings_minormudomancer.png
    hitpoints=26
    movement=5
    experience=48
    level=1
    advances_to="toadlings_mudomancer"
    alignment=neutral
    cost=16
    usage=mixed fighter
    description=_ "fish"+{SPECIAL_NOTES}+{SPECIAL_NOTES_SLOW}
    die_sound=
    num_traits=2
    ignore_race_traits=no
    [movement_costs]
        {TOADLING_MOVECOSTS}
    [/movement_costs]
    [defense]
        {TOADLING_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
    [attack]
        name="staff"
        description= _ "staff"
        range=melee
        type=impact
        damage=6
        number=1
    [/attack]
    [attack]
        name="mudoball"
        description= _ "mudoball"
        range=ranged
        type=impact
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
[/unit_type]
