#textdomain wesnoth-castle_of_madness      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-castle_of_madness Часть wesnoth- обязательна
[unit_type]
    id="toadlings_smalltoadling"        
    name= _ "Small toadling"   
    race=toadlings
    {TRAIT_DEXTROUS}
	image=data/add-ons/castle_of_madness/images/units/toadlings/toadlings_smalltoadling.png
    hitpoints=16                   
    movement=5             
    experience=18          
    level=0              
    advances_to="toadlings_toadlingscolumn,toadlings_swampprotector,toadlings_toadlings"           
    alignment=neutral      
    cost=7                
    usage=archer        
    description=
    die_sound=
    num_traits=2          
    ignore_race_traits=no
    [movement_costs] 
	  {TOADLING_MOVECOSTS}
	[/movement_costs]
	[defense] 
	  {TOADLING_STANDARD_GROUNDDEF}
	[/defense]
    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
	[resistance]
      blade=100
      pierce=100
      impact=100
      fire=100
      cold=100
      arcane=80
    [/resistance]
	[attack]
        name="toadling_fist"        
        description= _ "fist"
		range=melee       
        type=impact       
        damage=4         
        number=2          
    [/attack]
	[attack]
        name="stones"        
        description= _ "stones"
		range=ranged       
        type=impact       
        damage=4        
        number=2          
    [/attack]
[/unit_type]
