#textdomain wesnoth-castle_of_madness

[unit_type]
    id="badger_grenadier"
    name= _ "Grenadier"
    race=badgers
    image=data/add-ons/castle_of_madness/images/units/badgers/badger_grenadier.png
    hitpoints=72           ##колво здоровья
    movement=7	           ##сколько шагов может сделать
    experience=90          ##количество опыта, нужного для повышения уровня
    level=3                ##уровень
    advances_to=null           ##в кого превращается на след ур Писать имя через запятую без пробела
    {AMLA_DEFAULT}
    alignment=neutral      ##мировозрение
    cost=56                ##цена
    usage=mixed fighter          ##вид лучник боец тд
    description=_ "Sooner or later those grenade-wielding warriors come understand that it's much safer to lob grenades into enemies when flying. The result was the invention of jetpacks, which are unsafe, fast and loud, but surprisingly effective. One thing engineers couldn't get around is why jetpacks are slowed down on water, though."
    die_sound={SOUND_LIST:DWARF_DIE}
    num_traits=2          ##колво возможных trait
    ignore_race_traits=no
    [movement_costs]
        shallow_water=2
        reef=2
        swamp_water=2
        deep_water=3
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=1
        fungus=2
    [/movement_costs]
    [defense]
        shallow_water=60
        deep_water=60
        reef=60
        swamp_water=60
        flat=50
        sand=50
        forest=50
        hills=50
        mountains=50
        village=50
        castle=50
        cave=50
        frozen=50
        fungus=50
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=90
        arcane=80
    [/resistance]
    [attack]
        name="wrench"
        description= _ "wrench"
        range=melee       ##тип атаки ближний дальник иной
        type=impact       ##колущий режущий тд
        damage=10          ##колво урона за один удар
        number=3          ##колво ударов
    [/attack]
    [attack]
        name="grenade_launcher"
        description= _ "grenade launcher"
        range=ranged       ##тип атаки ближний дальник иной
        type=impact       ##колущий режущий тд
        damage=17         ##колво урона за один удар
        number=3          ##колво ударов
    [/attack]
    [standing_anim]
        start_time=0
        [frame]
            image="units/badgers/badger_grenadier_s_[1~10].png:160"
        [/frame]
    [/standing_anim]
    [attack_anim]
        [filter_attack]
            name=wrench
        [/filter_attack]
        start_time=-230
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=grenade_launcher
        [/filter_attack]
        start_time=-230
        {SOUND:HIT_AND_MISS dragonstick.ogg thunderstick-miss.ogg -250}
    [/attack_anim]
[/unit_type]
