#textdomain wesnoth-castle_of_madness



[unit_type]
    id="badger_macebadger"
    name= _ "Macebadger"
    race=badgers
    image=data/add-ons/castle_of_madness/images/units/badgers/badger_macebadger.png

    hitpoints=54           ##колво здоровья
    movement=5             ##сколько шагов может сделать
    experience=90          ##количество опыта, нужного для повышения уровня
    level=2                ##уровень
    advances_to=badger_crusher           ##в кого превращается на след ур Писать имя через запятую без пробела
    alignment=neutral      ##мировозрение
    cost=28                ##цена
    usage=fighter          ##вид лучник боец тд
    description= _ "Few badgers decide to equip heavy armor and swap their swords for maces, allowing them to easily crush enemy's armor and hold out longer in battle."
    die_sound={SOUND_LIST:DWARF_DIE}
    num_traits=2          ##колво возможных trait
    ignore_race_traits=no
    [movement_costs]
      {BADGER_MOVECOSTS}
    [/movement_costs]
    [defense]
      {BADGER_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
      blade=100
      pierce=100
      impact=100
      fire=100
      cold=90
      arcane=80
    [/resistance]
    [attack]
        name="mace"
        description= _ "mace"
        range=melee       ##тип атаки ближний дальник иной
        type=impact       ##колущий режущий тд
        damage=14          ##колво урона за один удар
        number=2          ##колво ударов
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        start_time=-230
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
