#textdomain wesnoth-castle_of_madness



[unit_type]
    id="badger_fury"
    name= _ "Fury"
    race=badgers
    image=data/add-ons/castle_of_madness/images/units/badgers/badger_fury.png

    hitpoints=69           ##колво здоровья
    movement=5             ##сколько шагов может сделать
    experience=90          ##количество опыта, нужного для повышения уровня
    {AMLA_DEFAULT}
    level=3                ##уровень
    advances_to=null           ##в кого превращается на след ур Писать имя через запятую без пробела
    alignment=neutral      ##мировозрение
    cost=54                ##цена
    usage=fighter          ##вид лучник боец тд
    description= _ "Most successful berserks earn unique name of Fury for their uncanny ability to destroy any enemy in mere seconds."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}
    die_sound={SOUND_LIST:DWARF_DIE}
    num_traits=2          ##колво возможных trait
    ignore_race_traits=no
    [movement_costs]
      {BADGER_MOVECOSTS}
    [/movement_costs]
    [defense]
      {BADGER_BERSERK_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
      blade=100
      pierce=100
      impact=100
      fire=100
      cold=90
      arcane=80
    [/resistance]
    [attack]
        name=berserker_frenzy
        description= _ "berserker frenzy"
        icon=attacks/claws.png
        range=melee       ##тип атаки ближний дальник иной
        type=blade        ##колущий режущий тд
        damage=11          ##колво урона за один удар
        number=4          ##колво ударов
        [specials]
          {WEAPON_SPECIAL_BERSERK}
        [/specials]
        [/attack]
        [attack_anim]
          [filter_attack]
            name=berserker_frenzy
          [/filter_attack]
          [if]
            [filter_second_attack]
            [/filter_second_attack]
            value_second=1
            start_time=-240
          [/if]
            [else]
                value_second=1
                [frame]
                    sound=dwarf-laugh.wav
                [/frame]
            [/else]
          {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
        [/attack_anim]
[/unit_type]
