#textdomain wesnoth-castle_of_madness

[unit_type]
    id="platypus_thief"
    name= _ "Thief"
    race=platypuses
    image=
    hitpoints=38           ##колво здоровья
    movement=7             ##сколько шагов может сделать
    experience=90          ##количество опыта, нужного для повышения уровня
    level=2                ##уровень
    advances_to=platypus_assassin           ##в кого превращается на след ур Писать имя через запятую без пробела
    alignment=      ##мировозрение
    cost=18               ##цена
    usage=          ##вид лучник боец тд
    description=_ "fish"
    die_sound={SOUND_LIST:DWARF_DIE}
    num_traits=          ##колво возможных trait
    ignore_race_traits=no
    [movement_costs]
        {PLATYPUS_MOVECOSTS}
    [/movement_costs]
    [defense]
        {PLATYPUS_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
        blade=120
        pierce=110
        impact=100
        fire=100
        cold=90
        arcane=80
    [/resistance]
    [attack]
        name=dagger
        description= _ "dagger"
        range=melee       ##тип атаки ближний дальник иной
        type=blade       ##колущий режущий тд
        damage=7          ##колво урона за один удар
        number=3          ##колво ударов
    [/attack]
    [attack]
        name=dagger
        description= _ "dagger"
        range=ranged       ##тип атаки ближний дальник иной
        type=pierce       ##колущий режущий тд
        damage=4          ##колво урона за один удар
        number=3          ##колво ударов
    [/attack]
[/unit_type]
