#textdomain wesnoth-castle_of_madness      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-castle_of_madness Часть wesnoth- обязательна

[unit_type]
    id=fire_creature
    name= _ "Fire creature"
    race=fire_elementals
    {TRAIT_ELEMENTAL}
    image=data/add-ons/castle_of_madness/images/units/fire_monsters/fire_creature.png
    profile=
    hitpoints=50
    movement=5
    experience=92
    level=2
    alignment=neutral
    advances_to=fire_monster
    cost=27
    usage=mixed fighter
    description= _ "smoke fish everyday, okidoki?"
    [movement_costs]
        {FIREELEMENTAL_MOVECOSTS}
    [/movement_costs]
    [defense]
        {FIREELEMENTAL_STANDARD_GROUNDDEF}
    [/defense]
    [resistance]
        blade=90
        pierce=70
        impact=100
        fire=40
        cold=150
        arcane=130
    [/resistance]
    [attack]
        name=fire_claws
        description= _ "fire claws"
        icon=attacks/fire_claws.png
		type=fire
        range=melee
        damage=15
        number=2
    [/attack]
    [attack]
        name=fire_breath
        description= _ "fire breath"
        icon=attacks/fire_breath.png
		type=fire
        range=ranged
        damage=7
        number=2
    [/attack]
[/unit_type]
