#textdomain wesnoth-castle_of_madness 
[unit_type]
    id=Member_of_the_inner_circle
    name=_ "Member of the inner circle"
    race=human
    gender=male
    image=data/add-ons/castle_of_madness/images/units/fire_cult/Geister.png
    hitpoints=56
    movement_type=smallfoot
    movement=7
    experience=160
    level=3
    alignment=lawful
    advances_to=null
    cost=50
    usage=mixed cavalry fighter
    description=_ "Даже среди культистов есть те, кто смог взобраться по карьерной лестнице. Особо отличившиеся вступают в Тайный круг, управляющий всем культом. Также такие люди получают доступ к общению с самим Повелителем Культистов, а он, в свою очередь дарует им возможность управлять огнем."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_CHARGE}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound=horse-die.ogg
	[defense]
      {HORSE_STANDARD_GROUNDDEF}
    [/defense]
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
	[movement_costs]
		{HORSE_MOVECOSTS}
		forest=1
    [/movement_costs]
	[resistance]
        blade=100
        pierce=120
        impact=90
        fire=70
        cold=110
        arcane=80
    [/resistance]
    [attack]
        name=horn
        description=_"horn"
        type=pierce
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
        range=melee
        damage=17
        number=2
    [/attack]
    [attack]
        name=firebrand
        description= _ "fire brand"
        type=fire
        range=melee
        damage=18
        number=2
        [specials]
            {WEAPON_SPECIAL_PLAGUE_TYPE fire_burnt}
        [/specials]
    [/attack]
	[attack]
	    name=Fireball
		description=_"Fireball"
		type=fire
                range=ranged
		damage=8
		number=3
		[specials]
		    {WEAPON_SPECIAL_MAGICAL}
		[/specials]
	[/attack]
[/unit_type]
