#textdomain wesnoth-castle of madness
[scenario]
    current_time=3
    description=""
    experience_modifier=70
    id=Spring_feast
    map_data= _ 
    name= _ "Spring feast"
    nextscenario=null
    random_start_time=no
    victory_when_enemies_defeated=yes
    turns=99
    [story]
        [part]
            background= 
            story= _ "There are astonishing creatures living in the lands of The Mein Empire that still live by their old traditions and customs. Their minds are clean and not poisoned by ideas typical for humankind. Simple people call these small and friendly, but nonetheless dangerous neighbours platybadgers or, more formally, the Platybadger Clan. In charge of it all are two platybadgers that are beloved by all - Yoghen Spearoak and Pottepur The Colourful."
        [/part]
        [part]
            background=
            story= _ "Each spring they hold festivities, not even out of tradition but rather because all platybadgers like it that way. Of course, each subclan, even each platybadger, decide for themselves where their feast, which is inherent to such events, will take place. Still, they try to stay closer to each other in those pleasant days."
        [/part]
        [part]
            background=
            story= _ "These festivities are followed not only by dancing and singing. No spring feast can go around without special beer which is made from kiwi fruit that was harvested, stored and  made by distinguished platybadgers brewers.
Such happens only once a year, just like birthdays. And every platybadger, without a shadow of a doubt, wants to get the treasured barrel or glass of this beer for his clan..."
        [/part]
        [part]
            background=
            story= _ "Ah yes... There are various subclans in the Clan, which, you can say, are only formally different, but make a focus on some specific kind of activity. There is, however, one very special clan of platybadgers, or to be exact, a subkind of badgers - Merdahs. They, unlike the others, have a different point of view towards others and the world as a whole. Especially their leader - Garodil."
        [/part]
		[part]
            background=
            story= _ "And Garodil challenged the rest of the Clan. On the recent feast he himself did something only a madman would do. What was he even thinking? With his gigantic, by the barsuk standards, halberd and firework bombs he invaded the party and destroyed the most valuable thing of them all - a gigantic barrel full of kiwi beer..."
        [/part]
    [/story]
   
[/scenario]
