#textdomain wesnoth-castle_of_madness      ##указываем тоже самое, что _main.cfg в нашем случае wesnoth-castle_of_madness Часть wesnoth- обязательна
[unit_type]
    id="merc_extraordinarysvalker"
    name= _ "Extraordinary svalker"
    race=human
	image=
    {TRAIT_SHADOWCRYSTAL}
    {TRAIT_BLUECRYSTAL}
    {TRAIT_GREENCRYSTAL}
    {TRAIT_DULLCRYSTAL}
    hitpoints=84
    movement=5
    experience=220
    level=4
    advances_to=null
	{AMLA_DEFAULT}
    alignment=neutral
    cost=65
    usage=archer
    description= _ "The mysterious leaders of Svalker group, those extraordinary persons are rumoured to have artifacts of immmense power, greatly prolonging their life, protecting them from any hazzards and even giving them power over people."
    die_sound={SOUND_LIST:HUMAN_DIE}
    num_traits=1
    ignore_race_traits=no
    [movement_costs]

	[/movement_costs]
	[defense]

	[/defense]
	[resistance]
      blade=100
      pierce=100
      impact=100
      fire=100
      cold=100
      arcane=80
    [/resistance]
	[attack]
        name=""
        description= _ ""
        range=
        type=
        damage=
        number=
    [/attack]
[/unit_type]
